@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ProductListViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Product List</h2>

<table class="table table-responsive">
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.QuantityPerUnit</td>
            <td>@product.UnitPrice</td>
	        <td>@product.UnitsInStock</td>
            <td><a class="btn btn-sm btn-success" asp-controller="Cart" asp-action="AddToCart">Sepete Ekle</a></td>
        </tr>
    }
    
</table>
